<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/resumo.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='js/jquery.dataTables.css')}}" />

    <title>Resumo</title>
</head>

<script type="text/javascript" src="{{url_for('static', filename='js/jscharting.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/modules/toolbar.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/types.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.js')}}" charset="utf8" ></script>
<script type="text/javascript" src="{{url_for('static', filename='js/moment.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/datetime-moment.js')}}"></script>
<body>
    <div class="container">
        <div class="header">
            <h1>Resumo:</h1>
        </div>
        
        <div class="row0">
            <h2>Saldo atual: <span id="saldo">{{saldo}}</span></h2>
            <script>
                var saldo = document.getElementById("saldo");
                if (saldo.innerText.includes('+')) {
                    saldo.style.color = 'rgb(125, 162, 194)'
                } else {
                    saldo.style.color = 'rgb(201, 56, 56)'
                }
                
            </script>
            <h3>Ultima edição: <span>{{ultimaedicao}}</span></h3>
        </div>
        <div class="row1">
            <h1 id="TituloGanhos">
                <a class="material-icons">trending_up</a> Ultimos ganhos:
            </h1>
            <table class="compact stripe hover row-border nowrap order-column" id="tabelaRenda">
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Categoria</th>
                        <th>Data</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in renda %}
                    <tr>
                        <td>R$ {{renda[item].valor}}</td>
                        <td>{{renda[item].categoria}}</td>
                        <td>{{renda[item].data}}</td>
                        <td>{{renda[item].obs}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready(function() {
                    $.fn.dataTable.moment( 'DD/MM/YYYY');
                    $("#tabelaRenda").DataTable({
                        order: [[2, 'desc']],
                        language: {
                            url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json",
                        },
                    });
                });
            </script>
            <h1 id="TotalGanhos">
                <a class="material-icons">arrow_upward</a> Ganhos no mês: +R$
                {{rendames}}
            </h1>
        </div>
        <div class="row2">
            <h1 id="TituloGastos">
                <a class="material-icons">trending_down</a> Ultimos gastos:
            </h1>
            <table class="compact stripe hover row-border nowrap order-column" id="tabelaGastos">
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Categoria</th>
                        <th>Modal</th>
                        <th>Data</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in gastos %}
                    <tr>
                        <td>R$ {{gastos[item].valor}}</td>
                        <td>{{gastos[item].categoria}}</td>
                        <td>{{gastos[item].modal}}</td>
                        <td>{{gastos[item].data}}</td>
                        <td>{{gastos[item].obs}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <script>
                    $(document).ready(function() {
                        $.fn.dataTable.moment( 'DD/MM/YYYY');
                        $("#tabelaGastos").DataTable({
                            order: [[3, 'desc']],
                            language: {
                                url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json",
                            },
                        });
                    });
                </script>
            </table>
            <h1 id="TotalGastos">
                <a class="material-icons">arrow_downward</a> Gastos no mês: -R$
                {{gastomes}}
            </h1>
        </div>
        <div class="row3">
            <h2 id="TituloEvolucao">
                <a class="material-icons">timeline</a> Evolução:
            </h2>
            <div id="chartDiv"></div>


            <script>
                var colors = ['rgb(125, 162, 194)', 'rgb(201, 56, 56)', 'rgb(255, 132, 0)'];
                var colorText = function(txt, colorIndex) {
                    return ('<span style="color:' + colors[colorIndex] + '"><b>' + txt + '</b></span>')
                };
                const meses = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"];
                const data = new Date();
                let mesatual = meses[data.getMonth()];
                var titleText = colorText('Renda', 0) + ', ' + colorText('Gastos', 1) + ' e ' + colorText('Aplicações', 2) + ' no mês de ' + mesatual;
                var chart = JSC.chart('chartDiv', {
                    debug: true,
                    type: 'Area Spline',
                    title_label_text: titleText,
                    title_position: 'center',
                    legend_visible: true,
                    toolbar:{
                        items:{"dropdown":{
                            position: 'outside',
                            type: "select",
                            value: mesatual,
                            items:{
                                Janeiro:{},
                                Fevereiro:{},
                                Março:{},
                                Abril:{},
                                Maio:{},
                                Junho:{},
                                Julho:{},
                                Agosto:{},
                                Setembro:{},
                                Outubro:{},
                                Novembro:{},
                                Dezembro:{},
                            },
                            events_change: function(val) {
                                id = meses.indexOf(val) + 1
                                chart.series(0).options({ points:{{gastocumulativonomes}}[id]});
                                chart.series(1).options({ points:{{rendacumulativanomes}}[id]});
                                chart.series(2).options({ points:{{aplicacaocumulativames}}[id]});
                                var novoTitulo = colorText('Renda', 0) + ', ' + colorText('Gastos', 1) + ' e ' + colorText('Aplicações', 2) + ' no mês de ' + val;
                                chart.options({title_label_text:novoTitulo});
                              },
                        }},
                    },
                    legend: {
                        layout: 'horizontal',
                        position: 'top right',
                        template: '%name %icon'
                    },
                    yAxis: {
                        formatString: 'c',
                        label_text: "Quantia (R$)",
                        
                    },
                    xAxis: {
                        categories:['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'],
                        crosshair_enabled: true,
                        label_text: "Dia",
                        visible: true,
                        scale_minorInterval: 1,
                    },
                    defaultSeries_line_width: 1, 
                    defaultSeries: {
                        shape: {
                            opacity: 0.33,
                            
                        },
                        defaultPoint_marker: {
                            type: 'none',
                        }
                    },

                    series: [
                        {
                            name: 'Gastos',
                            points: {{gastocumulativonomes}}[data.getMonth()+1],
                            color: colors[1],
                        },
                        {
                            name: 'Renda',
                            points: {{rendacumulativanomes}}[data.getMonth()+1],
                            color: colors[0],
                        },
                        {
                            name: 'Aplicações',
                            points: {{aplicacaocumulativames}}[data.getMonth()+1],
                            color: colors[2],
                        }
                    ]
                });
            </script>
        </div>
    </div>
</body>

</html>