<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sonhos.css')}}" />
    <title>Poupança</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Sonhos:</h1>
        </div>
        <div class="corpo">
            <p>Somatoria da categira poupança em gasto (representanto a quantidade de dinheiro guardada na poupança)</p>
            <p>Valor a ser distribuido (valor total da poupança mesmo o que ja foi distribuido para sonhos.)</p>
            <p>seção para criar um novo sonho com Nome, Meta em valor e Descrição</p>
            <p>seção com os cards (precisam ser editaveis em nome, meta e descrição)
            precisam ter informação de total aplicado, botão para adicionar aplicação, botão para concluir (onde o valor será retirado do saldo total da poupança)
            e um botão cancelar (onde o valor será re adicionado no "valor a ser distribuido)</p>
            <p>Clicando no card abre uma tela com o grafico de evolução das aplicações</p>
        </div>
    </div>
</body>
</html>
